<div class="container-fluid breadcrumb">
  <div class="row">
    <div class="col">
      <div>
        <h1> Crear Publicacion </h1>
      </div>
    </div>
  </div>
</div>


<form action="">

  <div class="container-fluid">
    <div class="row">
      <div class="col-8">

        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="container-fluid pt-4 table-box">

                <div class="form-icon-title">
                  <i class="fas fa-info-circle fa-2xl"></i>
                  <h2>Informacion general</h2>
                </div>
                <hr>

                <div class="row pb-3 pt-3">
                  <div class="col">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Titulo de la publicacion</mat-label>
                      <input matInput placeholder="Escribe el titulo de la publicación">
                      <mat-hint>Ej: Toyota Corolla Sport 2016 ...</mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row pb-3">
                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Año Fabricación</mat-label>
                      <input matInput placeholder="Selecciona el año de fabricacion">
                      <mat-hint>Ej: 2016</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Condicion</mat-label>
                      <input matInput placeholder="Selecciona el estado">
                      <mat-hint>Ej: Usado</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-3">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Kilometraje</mat-label>
                      <input matInput placeholder="Escribe el kilometraje">
                      <mat-hint>Ej: 90.000 kms.</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Patente</mat-label>
                      <input matInput placeholder="Escribe la patente">
                      <mat-hint>Ej: AB-CD-12</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-3">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>VIN</mat-label>
                      <input matInput placeholder="Escribe el nro. de VIN">
                      <mat-hint>Ej: 9876543210 </mat-hint>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row pb-3">
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Marca</mat-label>
                      <input matInput placeholder="Selecciona la marca">
                      <mat-hint>Ej: Toyota</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Modelo</mat-label>
                      <input matInput placeholder="Selecciona el modelo">
                      <mat-hint>Ej: Ranger Raptor </mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Versión</mat-label>
                      <input matInput placeholder="Selecciona la version">
                      <mat-hint>Ej: 2.5 GT AWD</mat-hint>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row pb-3">
                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Tipo de Carroceria</mat-label>
                      <input matInput placeholder="Selecciona el tipo de carroceria">
                      <mat-hint>Ej: SUV</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Puertas</mat-label>
                      <input matInput placeholder="Selecciona la cantidad de puertas">
                      <mat-hint>Ej: 4</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-3">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Combustible</mat-label>
                      <input matInput placeholder="Selecciona el tipo de combustible">
                      <mat-hint>Ej: Gasolina</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Tracción</mat-label>
                      <input matInput placeholder="Selecciona el tipo de tracción">
                      <mat-hint>Ej: 4x4</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-3">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Transmisión</mat-label>
                      <input matInput placeholder="Selecciona el tipo de transmisión">
                      <mat-hint>Ej: Manual 5</mat-hint>
                    </mat-form-field>
                  </div>
                </div>


                <div class="row pb-3">
                  <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Precio de compra</mat-label>
                      <input matInput placeholder="Ingresa el precio de compra">
                      <mat-hint>Ej: $8.990.000</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Precio de venta</mat-label>
                      <input matInput placeholder="Ingresa el precio de venta">
                      <mat-hint>Ej: $12.690.000</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Descuento</mat-label>
                      <input matInput placeholder="Ingresa el valor del descuento">
                      <mat-hint>Ej: 6%</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Valor descuento</mat-label>
                      <input matInput placeholder="Ingresa el valor del descuento">
                    </mat-form-field>
                  </div>
                </div>


                <div class="row pb-3">
                  <div class="col">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Descripcion</mat-label>
                      <textarea matInput placeholder="Escribe una descripción de tu publicación"></textarea>
                      <mat-hint>Ej: Excelente estado, asientos de cuero, solo 2 dueños ...</mat-hint>
                    </mat-form-field>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="container-fluid pt-4 table-box">

                <div class="form-icon-title">
                  <i class="fas fa-images fa-2xl"></i>
                  <h2>Imagenes</h2>
                </div>
                <hr>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">
                      <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Arrastra las imagenes que quieres que aparezcan en tu
                          publicación.</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                  </div>
                  <div class="row contenedor text-center">
                    <div>
                      <div *ngFor="let f of files"
                        style="display: inline-block !important; padding-left: 0px !important; padding-right: 0px !important;">
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f">
                        </ngx-dropzone-image-preview>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="col-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
              <div class="container-fluid pt-4 table-box">

                <div class="row pb-3 pt-3">
                  <div class="col">
                    <div class="checkbox-icon-title">
                      <i class="fas fa-check-circle fa-2xl"></i>
                      <h2>Equipamiento</h2>
                    </div>
                    <hr>
                    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport">
                      <section class="equipment-section">
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                      </section>
                    </cdk-virtual-scroll-viewport>
                  </div>
                </div>


              </div>
            </div>

            <div class="col-6">
              <div class="container-fluid pt-4 table-box">
                <div class="row pb-3 pt-3">
                  <div class="col">
                    <div class="checkbox-icon-title">
                      <i class="fas fa-shield fa-2xl"></i>
                      <h2>Seguridad</h2>
                    </div>
                    <hr>

                    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport">
                      <section class="equipment-section">
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                        <p><mat-checkbox formControlName="equipment_ac">A/C</mat-checkbox></p>
                      </section>
                    </cdk-virtual-scroll-viewport>

                  </div>
                </div>


              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="container-fluid pt-4 table-box">
                  <div class="form-icon-title">
                    <i class="fas fa-tags fa-2xl"></i>
                    <h2>Etiquetas de publicacion</h2>
                  </div>
                  <hr>

                  <mat-chip-listbox multiple aria-label="Fish selection">
                    <mat-chip-option>Unico dueño</mat-chip-option>
                    <mat-chip-option>0km</mat-chip-option>
                    <mat-chip-option>Pocos Kilómetros</mat-chip-option>
                    <mat-chip-option>Top de linea</mat-chip-option>
                    <mat-chip-option>Diesel</mat-chip-option>
                    <mat-chip-option>Todo terreno</mat-chip-option>
                    <mat-chip-option>De lujo</mat-chip-option>
                    <mat-chip-option>Garantia de fabrica</mat-chip-option>

                  </mat-chip-listbox>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 text-center">
        <button class="close-button">Cancelar</button>
      </div>
      <div class="col-6">

      </div>
      <div class="col-2">
        <button class="view-button float-end">Previsualizar publicacion</button>
      </div>
      <div class="col-2">
        <button class="add-button float-start">Crear publicacion</button>
      </div>
 
   
    </div>
  </div>

</form>