<div class="container-fluid">
  <div class="row">
    <div class="col-2 offset-10">
      <button class="add-button" (click)="addGasto()"> <img src="assets/icons/add.png" alt=""></button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="forma_pago">
        <th mat-header-cell *matHeaderCellDef> Forma de Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.formaPago}} </td>
      </ng-container>

      <ng-container matColumnDef="cuenta_asociada">
        <th mat-header-cell *matHeaderCellDef> Cuenta asociada </th>
        <td mat-cell *matCellDef="let element"> {{element.cuentaAsociada}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_pago">
        <th mat-header-cell *matHeaderCellDef> Fecha de Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaPago}} </td>
      </ng-container>

      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>