<div class="container-fluid">
  <div class="row header-section">
    <div class="col-4">
      <img src="assets/icons/car.png" class="header-logo pt-2">
      <h1> carmarket </h1>
    </div>
    <div class="col-8 header-buttons">
      <button><img src="assets/icons/bell.png" class="notification-icon"></button>

      <button type="button" data-bs-toggle="dropdown"> <img src="assets/images/user/martin.png"> </button>
      <ul class="dropdown-menu dropdown-menu-lg-start">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Ajustes</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
      </ul>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 sidebar-section">

      <div class="menu-section">
        <div class="buttons-section">

          <!-- VEHICULOS SECTION -->
          <div class="section-header">
            <p>Vehiculos</p>
          </div>
          <ul>
            <li>
              <button routerLink="/post/add">
                <span class="menu-btn">
                  <i class="fas fa-add fa-xl menu-btn-icon"></i>
                  <p class="menu-btn-text" style="padding-left: 9% !important;"> Crear Publicacion</p>
                </span>
              </button>
            </li>
            <hr class="sidebar-divider">
            <li>
              <button routerLink="/post/list">
                <span class="menu-btn">
                  <i class="fas fa-car fa-xl menu-btn-icon"></i>
                  <p class="menu-btn-text" style="padding-left: 8% !important;"> Publicaciones </p>
                </span>
              </button>
            </li>
          </ul>



          <div class="footer-button">
            <button> <img src="assets/icons/settings.png" class="sidebar-icon">
              <p>Configuracion</p>
            </button>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- Content Section -->
<div class="content-section">
  <router-outlet></router-outlet>
</div>