/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

//THEME COLOR DECLARATION
:root {
  --violet: #3e1862;
  --dark-blue: #1d2d44;
  --basic-blue: #f7f7f7;
  --soft-blue: #f0f0f0;

  --bronze: #e4a126;

  --dark-base: #353535;
  --dark-base-hover: #353535;

  --neutral-base: ;
  --light-base: ;
  --lighter-base: ;
  --white: ;
  --light-gray: ;

  --mint: #55b182;
  --hover-mint: rgb(92, 204, 146);
  --yellow: #e4a126;
  --hover-yellow: #ecb244;
  --red: rgb(168, 39, 39);
  --hover-red: rgb(190, 55, 55);
  --blue: #44628f;
  --hover-blue: #5375a8;

  --dark-gray: #38405f;
  --dark-gray-hover: #414141;
  --sidebar-background: #efefef;
  --sidebar-section-title: #353535;
  --sidebar-btn: #e6e6e679;
  --sidebar-btn-hover: #38405f;
  --sidebar-btn-color: #fdfdfd;
}

//GLOBAL UTILITIES
.full-width {
  width: 100%;
}

.file-input {
  background-color: black;
}

.img-placeholder-s {
  width: 170px;
  height: 120px;
}

//GLOBAL UTILITIES - BREADCRUMB
.breadcrumb {
  background-color: white !important;
  padding: 20px 20px 20px 30px !important;
  margin-bottom: 1% !important;
  border-radius: 5px !important;
  border: 1px solid rgb(228, 228, 228);
  h4 {
    margin-top: 5px;
    padding-right: 5px;
    display: inline;
  }
  h1 {
    display: inline;
  }
}

//GLOBAL UTILITIES - ICONS
.white-icon {
  color: white;
}

//GLOBAL UTILITIES - BUTTONS
.add-button {
  background-color: var(--mint) !important;
  color: white;
  padding: 9px 25px 9px 25px;
  border: none;
  border-radius: 6px;
  margin-bottom: 22px;
  font-size: 16px;
}

.add-button:hover {
  background-color: var(--hover-mint) !important;
  color: white;
  border-radius: 6px;
  transition: 0.5s;
}

.view-button {
  background-color: var(--blue) !important;
  color: white;
  padding: 9px 25px 9px 25px;
  border: none;
  border-radius: 6px;
  margin-bottom: 22px;
  font-size: 16px;
}

.view-button:hover {
  background-color: var(--hover-blue) !important;
  color: white;
  border-radius: 6px;
  transition: 0.5s;
}

.edit-button {
  background-color: var(--yellow) !important;
  color: white;
  padding: 9px 25px 9px 25px;
  border: none;
  border-radius: 6px;
  margin-bottom: 22px;
  font-size: 16px;
}

.edit-button:hover {
  background-color: var(--hover-yellow) !important;
  color: white;
  border-radius: 6px;
  transition: 0.5s;
}

.close-button {
  background-color: var(--red) !important;
  color: white;
  padding: 9px 25px 9px 25px;
  border: none;
  border-radius: 6px;
  margin-bottom: 22px;
  font-size: 16px;
}
.close-button:hover {
  background-color: var(--hover-red) !important;
  color: white;
  border-radius: 6px;
  transition: 0.5s;
}

//GLOBAL UTILITIES - TABLES
.custom-mat-table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed !important; //change for auto later

  .mat-header-row {
    background-color: rgb(248, 248, 248);
    height: 40px;
  }
  .mat-header-cell {
    color: rgba(0, 0, 0, 0.678);
    font-size: 13px;
    font-weight: 500;
    border-left: 1px solid rgba(238, 238, 238, 0.644);
    padding-left: 1%;
  }

  .mat-cell {
    border-left: 1px solid rgba(238, 238, 238, 0.384);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

.table-box {
  background-color: white !important;
  padding: 30px 20px 20px 20px !important;
  margin-bottom: 2% !important;
  border-radius: 5px !important;
  border: 1px solid rgb(228, 228, 228);
}

//GLOBAL UTILITIES - DIALOGS/MODALS
.header-row {
  background-color: var(--dark-gray);
  margin: 0px;
  padding: 12px 10px 0px 10px;
}
.header-title {
  color: white;
  font-weight: 500;
}
.close {
  background-color: rgba(255, 255, 255, 0.062);
  padding: 12px 14px 9px 14px;
  margin-top: -3px;
  border-radius: 20px;
  border: none;
}

//FORM SETTINGS
.form-block {
  background-color: rgba(245, 245, 245, 0.623);
  padding: 20px 20px 0px 20px !important;
  margin-bottom: 2% !important;
  border-radius: 10px !important;
}

.viewport {
  height: 50vh;
  width: 22vh;
}

.form-icon-title {
  padding: 8px 20px 5px 20px;
  i {
    display: inline;
  }
  h2 {
    padding: 10px;
    display: inline;
  }
}

.checkbox-icon-title {
  // padding: 8px 20px 5px 20px;
  i {
    display: inline;
  }
  h2 {
    padding: 10px;
    display: inline;
  }
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.534) !important;
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.301);
  outline: none;
}
