
.calendar-container{
  width: 68%;
}
.agenda-container{
  width: 30%;
}
::ng-deep full-calendar{
  //COLUMN HEAD - DAYS
  .fc-col-header-cell.fc-day{
    background-color: #1d2d44;
    padding-top:10px;
    padding-bottom: 10px;

  }
  .fc-col-header-cell-cushion {
    color:white;
    font-weight: 400;
    text-decoration: none;
  }
  .fc-daygrid-day-number{
    color:#1d2d44;
    text-decoration: none;
  }

}